<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Riesgo de credito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4">
          <form [formGroup]="predictForm">
            <ion-item>
              <ion-input label="Estado de la cuenta corriente" labelPlacement="floating" type="text"  formControlName="Col1" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Duracion (en meses)" labelPlacement="floating" type="number" formControlName="Col2"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Historial de crédito" labelPlacement="floating" type="text" formControlName="Col3"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Propósito" labelPlacement="floating" type="text" formControlName="Col4" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Monto del crédito" labelPlacement="floating" type="number" formControlName="Col5"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Cuenta de ahorro/bono" labelPlacement="floating" type="text" formControlName="Col6"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Empleo actual desde" labelPlacement="floating" type="text" formControlName="Col7"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Tasa de pago en cuotas" labelPlacement="floating" type="number" formControlName="Col8"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Estado personal y género" labelPlacement="floating" type="text" formControlName="Col9"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Otros deudores/garantes" labelPlacement="floating" type="text" formControlName="Col10"></ion-input>
            </ion-item>
          </form>
        </ion-col>
        <ion-col size="12" size-md="4">
          <form [formGroup]="predictForm">
            <ion-item>
              <ion-input label="Residencia actual desde" labelPlacement="floating" type="text" formControlName="Col11"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Propiedad" labelPlacement="floating" type="text" formControlName="Col12"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Antigüedad en años" labelPlacement="floating" type="number" formControlName="Col13"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Otros planes de cuotas" labelPlacement="floating" type="text" formControlName="Col14"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Vivienda" labelPlacement="floating" type="text" formControlName="Col15"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Número de créditos existentes" labelPlacement="floating" type="number" formControlName="Col16"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Empleo" labelPlacement="floating" type="text" formControlName="Col17"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Número de dependientes" labelPlacement="floating" type="number" formControlName="Col18"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Teléfono" labelPlacement="floating" type="text" formControlName="Col19"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Trabajador extranjero" labelPlacement="floating" type="text" formControlName="Col20"></ion-input>
            </ion-item>
          </form>
        </ion-col>
        <ion-col class="result" size="12" size-md="4" >
          <h1>{{estado}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" (click)="onCheck()">Consultar</ion-button>

  </div>
    
</ion-content>
